.users-area {
    @include flex-jc;
    width: 100%;
    flex-direction: column;
    
    & button, & a {
        font-weight: bold;
    }

    &__btn {
        @include flex-jc(flex-end);
        background: none;
        border: none;
        outline: none;
        padding: 0 1.5rem;
        height: 3rem;
        border: 2px solid #9a8865;
        color: #9a8865;
        background: #edd5a7;

        cursor: url('../../img/cursor-hand.png'), pointer;

        margin-bottom: -2px;

        align-self: flex-end;

        transition: background .3s, color .3s;

        &:hover, &_active {
            background: #9a8865;
            color: #edd5a7;
        }
    }

    &__link {
        @include flex-jc;

        width: 60px;
        height: 60px;

        border: 2px solid #9a8865;
        border-radius: 50%;

        color: #9a8865;
        cursor: url('../../img/cursor-hand.png'), pointer;

        transition: background .3s, color .3s;

        &:hover {
            background: #9a8865;
            color: #edd5a7;
        }
    }
}

.header-pop-up {
    @include flex-jc;
    position: relative;
    flex-direction: column;
    gap: 2rem;

    padding: 3rem 1rem 1rem 1rem;
    border: 2px solid #9a8865;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    width: 100%;
    
    background: #edd5a7;

    &__close-btn {
        @include flex-jc;

        position: absolute;
        right: 2.5px;
        top: 2.5px;

        width: 20px;
        height: 20px;

        border: 1px solid #9a8865;
        color: #9a8865;
        background: none;
        border-radius: 50%;
        cursor: url('../../img/cursor-hand.png'), pointer;
        font-size: 1.2rem;

        transition: background .3s, color .3s;

        &:hover {
            background: #9a8865;
            color: #edd5a7;
        }
    }

    &__leave-btn {
        align-self: flex-end;
        border: 1px solid #9a8865;
        border-radius: .4rem;
        color: #9a8865;
        background: none;
        padding: .5rem 1rem;

        cursor: url('../../img/cursor-hand.png'), pointer;

        transition: background .3s, color .3s;

        &:hover {
            background: #9a8865;
            color: #edd5a7;
        }
    }
}

.pop-up-menu {
    @include flex-jc;
    flex-direction: column;
    width: 100%;

    &-element {
        @include flex-jc;
        border: 1px solid #9a8865;
        border-radius: .5rem;
        padding: .6rem 0;
        width: 100%;
        transition: background .3s, color .3s;
        cursor: url('../../img/cursor-hand.png'), pointer;

        &__link {
            @include flex-jc;
            color: #9a8865;
            width: 100%;
            height: 100%;
        }

        &:hover {
            background: #9a8865;
        }

        &:hover &__link {
            color: #edd5a7;
        }
    }
}