@media (max-width: 1365px) {
    .text {
        font-size: 17px;
        padding: 5px;
    }
}

@media (max-width: 1150px) {
    .text {
        font-size: 15px;
        padding: 5px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 650px) {}

@media (max-width: 607px) {}

@media (max-width: 576px) {}

@media (max-width: 457px) {}

@media (max-width: 355px) {}