@import './media-header';
@import './media-menu';
@import './media-menu-mobile';
@import './media-text';
@import './media-pavilion';
@import './wisdom-tea';
@import './media-slider';
@import './media-light-box';
@import './media-principles-tea-ceremony';
@import './media-h2';
@import './media-scroll';


@media (max-width: 1365px) {
    .wisdom-tea {
        &__wrapper {
            @include flex-fd;
        }
    }
}

@media (max-width: 1235px) {
    .menu {
        &__link {
            font-size: 15px;
        }
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 1150px) {
    .header {
        &__site-title-wrapper {
            height: 150px;
        }

        &__greeting-box {
            &_woman {
                left: 35%;
            }
        }
    }

    .slider {

        &__container {
            width: 350px;
            height: 75%;
        }

        &__content {
            padding: 0;
        }

        &__description {
            font-size: 17px;
        }

        &__navigation {
            bottom: 55px;
        }

        &__skip {
            bottom: -10px;
        }        
    }   

    .menu {
        &__link {
            font-size: 14px;
            padding:  10px;
        }
    }

    .text {
        font-size: 15px;
        padding: 5px;
    }

    .pavilion {
        &__about {
            &_title {
                font-size: 17px;
            }
        }
    }

    .light-box {
        top: -210vw;
    }
}

@media (max-width: 992px) {
    .header-box {
        height: 70px;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: initial;

        &__icon-box,
        &__icon {
            display: initial;
        }

        &__link {
            font-size: 14px;
            padding:  10px;
        }
    }
}

@media (max-width: 930px) {
    h1 {
        font-size: 30px;
    }

    .header {
        &__greeting {
            display: none;
        }
    }

    .pavilion {
        &__bgd {
            display: none;
        }

        &__bgd-adaptation {
            display: initial;
        }

        &__about {
            height: auto;
            position: unset;
            background-color: $color-i;
            margin-top: 25px;
            padding: 25px;
            border-radius: 15px;

            &_info {
                width: 85%;
            }
        }
    }

    .principles-tea-ceremony__block {
        height: 300px;
    }

    .light-box {
        top: -210vw;
    }

    .wisdom-tea {
        &__checkbox-item {
           font-size: 17px;
        }

        &__block {
            width: 85vw;
            padding: 0;
        }

        &__block-sage {
            align-items: center
        }
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 21px;
    }

    .light-box {
        top: -235vw;
    }
}

@media (max-width: 650px) {
    .scroll {
        display: none;
    }

    .scroll-top {
        display: none;
    }
    
    .scroll-bottom {
        display: none;
    }

    .events {
        &__img {
            width: 150px;
        }

        &__block {
            @include flex-fd;
            width: 85%;
        }
    }

    .light-box {
        top: -250vw;
    }

    .wisdom-tea {
        &__checkbox-item {
           font-size: 15px;
        }

        &__img {
            width: 85vw;
        }
    }
}

@media (max-width: 607px) {
    .principles-tea-ceremony__block {
        height: 210px;
    }
}

@media (max-width: 576px) {  
    .principles-tea-ceremony__box-light {
        display: none;
    }

    .principles-tea-ceremony__block {
        height: 100px;
    }
}

@media (max-width: 457px) {

}

@media (max-width: 355px) {
    
}