@media (max-width: 1365px) {
    .menu {
        &__link {
            font-size: 17px;
        }
    }
}

@media (max-width: 1235px) {
    .menu {
        &__link {
            font-size: 15px;
        }
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 1150px) {
    .menu {
        &__link {
            font-size: 14px;
            padding:  10px;
        }
    }
}

@media (max-width: 992px) {
    .menu {
        display: none;
    }
}

@media (max-width: 768px) {}

@media (max-width: 650px) {}

@media (max-width: 607px) {}

@media (max-width: 576px) {}

@media (max-width: 457px) {}

@media (max-width: 355px) {}