$f-color: #9a8865;
$s-color: #edd5a7;

.profile {
    @include flex-jc;
    padding: 1rem;

    border: 2px solid $f-color;
    border-radius: 1rem;

    width: 100%;
}

.profile-header {
    @include flex-jc(flex-start);
    gap: 4.5rem;

    width: 100%;

    &__change-btn {
        border: 2px solid $f-color;
        border-radius: .5rem;
        padding: .5rem 1rem;
        color: $f-color;
        font-weight: bold;
        font-size: 1.3rem;

        cursor: url('../../img/cursor-hand.png'), pointer;

        background: $s-color;

        transition: background .3s, color .3s;

        &:hover {
            background: $f-color;
            color: $s-color;
        }
    }
}

@import './profile-avatar';
@import './profile-info-list';
