@import '../Authorized/pop-up';

.header {
    position: relative;
    z-index: 1;

    &__img {
        width: 100vw;        
    }

    &__site-title-wrapper {
        @include flex-jc(center, flex-start);
        width: 100%;
        height: 250px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        opacity: 0;
        animation: fadeIn 2s ease-out forwards 1s;
        animation-play-state: paused;
    }

    &__site-title {
        @include font-comforter-r;
        font-size: 10vw;
        color: white;
        text-align: center;
        text-shadow: 
        -1px -1px 0 #573d07,  
        1px -1px 0 #573d07,
        -1px 1px 0 #573d07,
        1px 1px 0 #573d07,
        -2px -2px 0 #573d07,
        2px -2px 0 #573d07,
        -2px 2px 0 #573d07,
        2px 2px 0 #573d07;
    }

    &__img-man {
        height: 75%;
        position: absolute;
        bottom: 0;
        left: 10vw;
        z-index: 10;
        animation: slideInFromLeft 2s ease-out forwards;
        animation-play-state: paused;
    }

    &__img-woman {
        height: 70%;
        position: absolute;
        bottom: 0;
        right: 10vw;
        z-index: 10;
        animation: slideInFromRight 2s ease-out forwards;
        animation-play-state: paused;
    }

    &__greeting {
        @include flex-fd;
        width: 100%;
        position: absolute; 
        bottom: 45%;        
    }

    &__greeting-box {
        width: 370px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.8);        
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
        animation-play-state: paused;
        position: absolute;

        &_man {
            left: 31%;
            transform: translateY(-50%);
        }
    
        &_woman {
            left: 47%;
            transform: translateY(-50%);
        }
    }
}

@import './keyFrames';

//SLIDER ===============

@import './slider';

//MENU =================

.header-box {
    @include flex-jc;
    position: relative;
}

.authorization-box {
    @include flex-jc;
    position: absolute;
    top: 8.5%;
    right: 5%;
}

@import './menu';
@import './menu-mobile';

