.pavilion {
    @include flex-fd;
    width: 85vw;
    height: auto;

    &__bgd {
        width: 80%;
        position: relative;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1.5s ease-out;
    }

    &__bgd.animate {
        opacity: 1;
    }

    &__about {
        @include flex-jc;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 125px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 25%px;
        left: 0;
        opacity: 0;
        transition: opacity 1.5s ease-out;

        &_info {
            width: 65%;
        }

        &.animate {
            opacity: 1;
        }
    }

    &__list {
        width: 65%;
    }
}

