$f-clr: #edd5a7;
$s-clr: #9a8865;

.comments {
    @include flex-jc;
    flex-direction: column;
    width: 100%;

    &__total-amount  {
        color: $s-clr;
        font-size: 1.1rem;
    }
}

@import './comments/commentsBlockComments';
@import './comments/comment';
@import './comments/commentRate';
@import './rateBox';
@import './pagination';
@import './write-comment';