$f-clr: #edd5a7;
$s-clr: #9a8865;

.comments {
    @include flex-jc;
    flex-direction: column;
    width: 100%;

    &__total-amount  {
        color: $s-clr;
        font-size: 1.1rem;
    }
}

.content-block_comments {
    @include flex-jc(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    gap: 2rem;

    border-radius: .6rem;
    max-height: 650px;
    min-height: 650px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background: #edd5a7;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #9a8865;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
    }
}

.comment {
    @include flex-jc(flex-start, flex-end);
    padding: 1rem;
    border: 1px solid #9a8865;
    min-height: 250px;
    height: 100%;
    width: 100%;

    color: #9a8865;
    font-weight: bold;

    position: relative;

    gap: 2rem;

    &.my-comment {
        border: 2px solid #9a8865;
        position: relative;

        &::before {
            content: 'Ваш коментар';

            position: absolute;
            top: -20px;
            right: 0;
            color: #9a8865;
        }
    }

    &-box {
        @include flex-jc(flex-start);
        flex-direction: column;
        padding: .5rem;
        width: 100%;
        height: 100%;
    }

    &__text {
        display: block;
        text-align: start;
        border: 1px solid $f-clr;
        background: $s-clr;
        color: $f-clr;
        padding: .4rem;
        border-radius: .6rem;

        height: 60%;
        width: 95%;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        overflow: auto;

        &::-webkit-scrollbar {
            background: $s-clr;
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #5d4111;
        }
    
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        align-self: flex-start;
        position: absolute;
        top: 19px;
        left: 10px;
        color: $s-clr;

        &::after {
            content: attr(data-title);
            width: 125px;
            font-size: .8rem;
            position: absolute;
            top: -20px;
            left: 0;

            border: 1px solid #9a8865;
            border-radius: .5rem;
        }

        &::before {
            content: attr(data-avatar);
            font-size: 1.2rem;

            @include flex-jc;

            width: 35px;
            height: 35px;

            border: 1px solid #9a8865;
            border-radius: 50%;

            margin-right: .5rem;
        }
    }
}

.comment-rate {
    @include flex-jc;
    gap: 1rem;

    position: absolute;
    top: 5px;
    right: 5px;

    &__button {
        padding: .5rem;
        border-radius: .6rem;
        font-size: 1.2rem;
        border: none;
        background: #9a8865;
        color: #edd5a7;
        cursor: url('../../img/cursor-hand.png'), pointer;

        &_like.liked,
        &_dislike.disliked {
            color: #f3ab1a;
        }
    }
}

.rate-box {
    @include flex-jc;
    flex-direction: column;
    gap: .4rem;
}

.pagination {
    @include flex-jc(space-between);
    width: 65%;
}

.pagination__btn {
    background: #9a8865;
    border-radius: .5rem;
    color: #edd5a7;
    border: 1px solid #edd5a7;
    padding: .8rem;

    transition: all .3s;
    cursor: pointer;

    &:disabled {
        opacity: .6;
    }
}

.pagination-box {
    @include flex-jc;
    gap: 1rem;
    margin-top: .5rem;

    &__value {
        background: #edd5a7;
        border-radius: .5rem;
        color: #9a8865;
        outline: none;
        border: none;

        padding: .8rem;
        cursor: pointer;

        &_active {
            color: #edd5a7;
            background: #9a8865;
        }
    }
}

.write-comment {
    @include flex-jc;
    flex-direction: column;
    @include vignette-text;

    gap: 2rem;
    margin-top: .5rem;

    padding:  1rem 0;

    &__title {
        color: #9a8865;
    }

    &__text {
        resize: vertical;
        width: 65%;

        color: #edd5a7;
        padding: .5rem 1.5rem;
        background: #9a8865;
        border-radius: .7rem;
        min-height: 125px;

        font-size: 1.1rem;

        outline: none;
        cursor: default;
    }

    &__link-to-login {
        background: #9a8865;
        color: #edd5a7;
        padding: .5rem;
        border-radius: .6rem;
    }

    &__btn {
        width: 10%;
        padding: .5rem;
        border-radius: .6rem;
        border: none;
        background: #9a8865;
        color: #edd5a7;
        cursor: pointer;
    }
}