.events {
    @include flex-fd;    
    max-width: 1170px;    

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 15px;
    }

    &__block {
        @include flex-jc;
        width: 570px;
        height: auto;
        padding: 25px;
        background-color: #edd5a7;
        border-radius: 15px;
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s ease-out, transform 1s ease-out;
    }

    &__block.animate {
        opacity: 1;
        transform: translateY(0);
    }

    &__img {
        width: 210px;
    }

    &__info-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px;
        height: 100%;
    }

    &__info {
        padding-bottom: 15px;        
        font-size: 17px;
    }
}