.pagination {
    @include flex-jc(space-between);
    width: 65%;
}

.pagination__btn {
    background: #9a8865;
    border-radius: .5rem;
    color: #edd5a7;
    border: 1px solid #edd5a7;
    padding: .8rem;

    transition: all .3s;
    cursor: pointer;

    &:disabled {
        opacity: .6;
    }
}

.pagination-box {
    @include flex-jc;
    gap: 1rem;
    margin-top: .5rem;

    &__value {
        background: #edd5a7;
        border-radius: .5rem;
        color: #9a8865;
        outline: none;
        border: none;

        padding: .8rem;
        cursor: pointer;

        &_active {
            color: #edd5a7;
            background: #9a8865;
        }
    }
}