.container {
    @include flex-jc;
    flex-direction: column;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.content-block {
    width: 57vw;
    height: auto;
    padding: 35px;
    background-color: #edd5a7;;
    border-radius: 15px;
}

.image {
    width: 70vw;

    &__src {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}