.footer {
    margin-top: auto;
    position: relative;

    &__img {
        width: 100vw;
        height: auto;
    }

    &__contacts {
        width: 370px;
        padding: 25px;
        line-height: 25px;
        color: rgb(87, 50, 11);
        text-align: left;
        position: absolute;
        top: 0;
        left: 5%;
    }
}