$font-size-main: 1.4vw;
$font-size-h1: 2.7vw;
$font-size-h2: 1.7vw;
$font-size-h3: 1.2vw;
$width-main: 85vw;

$margin: 1vw 0 1vw;
$margin-simpl: 1vw 1vw 1vw;
$margin-top: 50px;
$margin-top-small: 25px;
$margin-left: 50px;
$margin-left-small: 25px;
$margin-bottom: 50px;
$margin-bottom-small: 25px;
$margin-right: 50px;
$margin-right-small: 25px;

$padding-container: 55px 55px;
$padding-top: 50px;
$padding-top-small: 25px;
$padding-left: 50px;
$padding-left-small: 25px;
$padding-bottom: 50px;
$padding-bottom-small: 25px;
$padding-right: 50px;
$padding-right-small: 25px;

$color-a: #ffffff;
$color-b: #0d0701;
$color-c: #4e2c0c;
$color-d: #fcb315;
$color-e: #faf5d8;
$color-f: #c52c11;
$color-g: #9cc3ad;
$color-h: #71aee3;
// $color-i: 
// $color-j: 
// $color-k: 
// $color-l: 
// $color-m: 
// $color-n: 
// $color-o: 
// $color-p: 
// $color-q: 
// $color-r: 
// $color-s: 
// $color-t: 
// $color-u: 
// $color-v: 
// $color-w: 
// $color-x: 
// $color-y: 
// $color-z: 