.comment {
    @include flex-jc(flex-start, flex-end);
    padding: 1rem;
    border: 1px solid #9a8865;
    min-height: 250px;
    height: 100%;
    width: 100%;

    color: #9a8865;
    font-weight: bold;

    position: relative;

    gap: 2rem;

    &.my-comment {
        border: 2px solid #9a8865;
        position: relative;

        &::before {
            content: 'Ваш коментар';

            position: absolute;
            top: -20px;
            right: 0;
            color: #9a8865;
        }
    }

    &-box {
        @include flex-jc(flex-start);
        flex-direction: column;
        padding: .5rem;
        width: 100%;
        height: 100%;
    }

    &__text {
        display: block;
        text-align: start;
        border: 1px solid $f-clr;
        background: $s-clr;
        color: $f-clr;
        padding: .4rem;
        border-radius: .6rem;

        height: 60%;
        width: 95%;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        overflow: auto;

        &::-webkit-scrollbar {
            background: $s-clr;
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #5d4111;
        }
    
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        align-self: flex-start;
        position: absolute;
        top: 19px;
        left: 10px;
        color: $s-clr;

        &::after {
            content: attr(data-title);
            width: 125px;
            font-size: .8rem;
            position: absolute;
            top: -20px;
            left: 0;

            border: 1px solid #9a8865;
            border-radius: .5rem;
        }

        &::before {
            content: attr(data-avatar);
            font-size: 1.2rem;

            @include flex-jc;

            width: 35px;
            height: 35px;

            border: 1px solid #9a8865;
            border-radius: 50%;

            margin-right: .5rem;
        }
    }
}