.comment-rate {
    @include flex-jc;
    gap: 1rem;

    position: absolute;
    top: 5px;
    right: 5px;

    &__button {
        padding: .5rem;
        border-radius: .6rem;
        font-size: 1.2rem;
        border: none;
        background: #9a8865;
        color: #edd5a7;
        cursor: url('../../../img/cursor-hand.png'), pointer;

        &_like.liked,
        &_dislike.disliked {
            color: #f3ab1a;
        }
    }
}